prelim/mystery*
prelim/shim.so
prelim/shimtest
prelim/tokenize
prelim/variadic
prelim/envdemo
prelim/envtest

processes/anatomy
processes/forktest
processes/hello
processes/rawhelloarm
processes/rawhellointel
processes/exec1
processes/exec2
processes/exec3
processes/exec4
processes/zombies
processes/popen
processes/ptrace_example

ipc/signals
ipc/named_pipe_sender
ipc/named_pipe_recver
ipc/shmem
ipc/shmem2
ipc/msgpassingserver
ipc/msgpassingclient
ipc/socket_server


threads/asyncio
threads/pthreadex
threads/pthreadex2
threads/pthreadex3
threads/conditionex
threads/readwritelockex
threads/sem
threads/bank/mybank
threads/barriers

*.o